<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="BayBird - Robert T.">
    <meta name="description" content="Lookup physical localtion of IP address.">
    <title>IP Address Lookup</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-4.2.1-dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <link href="/css/main.css" rel="stylesheet">
</head>

<body class="text-center">
    <div id="app" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    </div>
    <script src="/js/dist/app.js" ></script>
</body>

</html>
