<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="BayBird - Robert T.">
    <meta name="description" content="Lookup physical localtion of IP address.">
    <title>IP Address Lookup</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-4.2.1-dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <link href="/css/main.css" rel="stylesheet">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">IP Address Lookup</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover" id="app">

        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Lookup physical location of IP address, by <a href="https://github.com/baybird">@baybird</a>.</p>
            </div>
        </footer>
        <script src="/js/dist/app.js" ></script>
    </div>
</body>

</html>
