/* Smartphones (portrait and landscape) ----------- */
@media only screen
    and (min-device-width : 0px)
    and (max-device-width : 767px) {
    body {
        padding-top: 59px;
        font-size: 14px;
    }
    img.avatar {
        max-width: 53px;
    }
    .on-bottom{
        bottom: 0;
        position: relative;
    }
    .container {
        padding-right: 5px;
        padding-left: 5px;
    }
    .container-fluid {
        width: 100%;
        padding-right: 2px;
        padding-left: 2px;
        margin-right: auto;
        margin-left: auto;
    }
    .container-padding{
        padding: 2rem 0;
    }
    /* lightbox */
    .lightbox_modal {
        top: 10%;
        transform: translateY(0%);
        width: 90%;
        height: auto;
        padding: 1rem;
    }
    .lightbox_modal h2 {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0;
    }
    .lightbox_modal h3 {
        font-size: 1rem;
        letter-spacing: 0;
    }
    .lightbox_modal .header {
        padding-bottom: 0.25rem;
    }
    .lightbox_modal .scanning_items{
        font-size: 0.9rem;
    }
    .lightbox_modal .scanning_items .row div {
        padding: 0;
    }
    .lightbox_modal .scanning_items img{
        margin-right: 0.25rem;
        size: 20px;
    }
    .lightbox_modal .scanning_items i {
        margin-right: 0.25rem;
    }
    .lightbox_modal .check_item_table .row div {
        padding: 0.1rem 0;
        line-height: 2;
        min-height: 33px;
    }
    .lightbox_modal .scanning_database {
        font-size: 1rem;
        margin: 1rem 0;
    }
    .lightbox_modal .testimonials {
        font-size: 1rem;
        line-height: 150%;
        margin: 1rem 0 ;
        display: none;
    }

    .modal_dialog_small{
        width: 90%;
        max-width: 100%;
        top: 50%;
    }
    .modal_dialog_regular {
        width: 100%;
        min-width: unset;
        max-width: unset;
        max-height: unset;
        height: 70%;
    }
    .modal-header, .modal-footer {
        padding: 0.25rem;
    }
    .lightbox2 .icon {
        width: 20px;
    }
    .scanbox-list{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .searching-for{
        font-size: 1rem;
        margin: 1rem 0;
    }
    .searching-for .vin{
        font-size: 1rem;
    }
    .scanbox{
        min-height: 100%;
        padding: 1rem 0;
        width: 100%;
        top: 0;
    }
    .scan-items{
        margin-top: 1rem;
    }
    .scan-item {
        font-size: 0.9rem;
    }
    .split-line::before{
        content: '';
        border-top: 1px solid #e7e7e7;
        display: block;
        padding: 1rem 0;
    }
    .table-responsive{
        border: 1px solid #eaeaea;
        max-width: 100%;
    }
    .table{
        margin: 0;
    }
    .table-header {
        padding: 0.5rem 0rem;
    }
    .homepage-container {
        position: relative;
        top: auto;
        z-index: 1;
        left: auto;
        background: #f3f3f3;
        padding: 0;
        max-width: 100%;
    }
    .homepage-control{
        display: none;
    }
    .navbar {
        height: 59px;
    }
    .menu{
        top: 59px;
        overflow-y: scroll;
    }
    h1{
        font-size: 1.1rem !important;
    }
    .table td,
    .table th,
    li {
        font-size: 0.9rem;
    }
    .col-start,
    .col-middle,
    .col-end{
        margin-left: 0;
        margin-right: 0;
    }
    .background-5 {
        background: #23c398;
    }
    .section-start-protection {
        padding: 1rem;
    }
    .float-alert{
        width: 95%;
    }
    .backtotop-active{
        display: none;
    }
    footer .list {
        text-align: center;
    }
    footer .company-info{
        float:none;
    }
    .fullwidth-on-mobile{
        width: 100% !important;
    }
    /* footer .row{
        margin: 0;
    } */
    .row{
        margin: 0;
    }
    .responsive-table tbody,
    .responsive-table tbody td{
        width: 100%;
        display: inline-block;
    }
    .navbar-brand{
        min-width: 40%;
        max-width: 70%;
    }
    .navbar-brand img{
        width: 100%
    }
    .homepageBgImg{
        height: 190px;
        padding: 0;
    }
    .homepageBgImg figure {
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        margin: 0;
        height: 100%;
    }
    .vin-check-wrap {
        position: relative;
        width: 100%;
    }
    .vin-check-wrap .content {
        width: 100%;
    }
    .vin-check-wrap .heading{
        padding: 0.5rem;
        color: #fff;
        position: absolute;
        top: -179px;
    }
    .vin-check-wrap .heading .title{
        font-size: 1.1rem;
        line-height: 1;
        text-shadow: none;
        margin: 0;
    }
    .vin-check-wrap .heading .text{
        font-size: 1rem;
        line-height: 1.1;
        margin-top: 0.25rem;
        text-shadow: none;
    }
    .vin-check{
        padding: 1rem;
    }
    .vin-check a, .vincheck a{
        margin-left: 1rem;
        font-size: 0.8rem;
    }
    .vin-input-box{
        width: 100%;
    }
    #vin_number,
    .btn-search-vin{
        width: 100%;
        float: left;
        display: inline-block;
        margin: 2px 0;
    }
    .btn-search-vin{
        margin-top: 1rem !important;
    }
    .btn-fullsize{
        width: 100%;
    }
    #vin_number{
        font-size: 1.1rem;
    }
    .enter_vin h1 {
        font-size: 1.05rem !important;
        margin: 0;
    }

    .section h2 {
        font-weight: bold !important;
        padding-bottom: 1rem;
        font-size: 1rem;
    }
    .reason img{
        width: 50px;
        margin-top: 1rem;
    }
    .reason h3 {
        height: auto;
        padding-top: 1rem;
        font-weight: bold;
        font-size: 1rem;
    }
    .modal_dialog {
        max-width: 97%;
        max-height: 90%;
    }
    .login-box {
        padding: 2em 0;
    }
    .what-included{
        margin-top: 0;
    }
    .what-included img{
        width: 28px;
    }
    .what-included h3 {
        font-size: 0.9rem;
    }
    .what-included .desc {
        font-size: 0.9rem;
    }
    .what-included .col-sm .row {
        margin-bottom: 1rem;
        min-height: 50px;
    }
    .section-how-it-works .col-sm div {
        min-height: auto;
    }
    .section-how-it-works h3 {
        font-size: 1rem;
        font-weight: bold;
    }
    .section-start-protection .tier .title {
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .section-start-protection .tier .fee {
        font-size: 2rem;
    }
    .section-start-protection .tier .fee span:nth-child(3) {
        font-size: 0.8rem;
    }
    .section-start-protection .tier .desc {
        font-size: 1rem;
    }
    .section-trust .desc {
        font-size: 1rem;
    }
    .section-trust .rating {
        font-size: 0.8rem;
    }
    footer .contact-info{
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    footer .list a, footer .list p {
        font-size: 1.1rem;
    }
    .footer-copyright .navlinks a{
        font-size: 0.8rem;
    }
    .checkout-page{
        margin: 0 0.5rem;
    }
    .checkout-page > :first-child {
        padding: 1rem 0.5rem;
    }
    .checkout-page h1 {
        font-size: 1rem !important;
        letter-spacing: 0;
    }
    .checkout-page .text-title {
        padding: 2rem 0 0 0;
    }
    .checkout-page .signin-box {
        padding: 1rem 3rem;
    }
    .checkout-page .signin-box-separator {
        border-right: none;
    }
    .checkout-page .list{
        /* text-align: center; */
        padding: 0.25rem;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        margin-right: 0;
    }
    .checkout-page p{
        font-size: 0.9rem;
    }
    .checkout-page .payment-box{
        padding: 0 0.25rem;
    }
    .checkout-page .payment-method-box{
        width: 100%;
        margin: 0;
    }
    .checkout-page .card-box{
        padding: 1rem;
        margin: 0;
    }
    .checkout-page .new-account-info {
        width: 100%;
    }
    .checkout-page .signin-box {
        padding: 0.5rem;
        border-top: 1px solid #eaeaea;
    }
    .checkout-page .col{
        padding-left: 0;
        padding-right: 0;
    }
    .checkout-page .sample-report img {
        width: 98%;
    }
    .checkout-page .thank-you-page {
        width: 100%;
    }
    .checkout-page .sample-report {
        padding: 1rem 0;
        display: none;
    }
    .checkout-page h2 {
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem 0;
    }
    .checkout-page .text-title {
        padding: 0.5rem 0;
        margin: 0;
    }
    .checkout-page .card-icons img {
        padding: 2px;
        width: 33px;
        margin: 0;
    }
    .checkout-page .payment-method-box label input {
        display: inline-block;
        margin: 0 0.25rem 0 0;
    }
    .checkout-page .payment-method-box label .title {
        font-size: 0.8rem;
    }
    .checkout-page .btn-link{
        font-size: 1rem;
    }
    .checkout-page .icon-done{
        font-size: 2rem;
    }
    .checkout-page .payment-method-box label.lable-box {
        padding: 0.25rem;
    }
    .vin-box {
        width: 100%;
        padding: 0.5rem;
    }
    .account-header{
        display: none;
    }
    .flex-sidebar,
    .flex-sub-sidebar{
        display: none;
    }
    .flex-sub-main {
        padding: 0;
    }
    .flex-sub-main-child1 {
        max-width: 100%;
        width: 100%;
        padding: 0 0.75rem;
    }
    .bg-dealer {
        min-height: 209px;
    }
    .dealer-page .content ,
    .dealer-page .question-list{
        width: 100%;
        padding: 0.5rem;
    }
    .pricing-card-title sup {
        font-size: 1rem;
    }
    .dealer-page .pricing {
        transform: none;
        top: 0%;
        padding: 1rem 0 5rem 0;
    }
    .dealer-page .pricing h2 {
        margin-bottom: 0rem;
    }
    .dealer-page h1 {
        font-size: 1.8rem !important;
        letter-spacing: 1px;
    }
    .dealer-page h1 span {
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    .dealer-page h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .dealer-page .features h3,
    .question-list .question h3{
        font-size: 1rem;
        font-weight: bold;
        margin: 0.5rem 0;
    }
    .dealer-page p,
    .dealer-page .features p {
        font-size: 1rem;
    }
    .dealer-page .join-us{
        width: 100%;
        min-height: 298px;
        transform: translateY(8%);
    }
    .dealer-page .overview {
        width: 100%;
    }
    .dealer-page .dealer-plan li{
        font-size: 1rem;
    }
    .question-list .question {
        padding: 1rem 0;
        padding-right: 0;
        width: 100%;
        max-width: 100%;
        min-height: auto;
    }
    .question-list .question h3 {
        min-height: auto;
    }
    form.dealer-account {
        padding: 0;
    }
    form.dealer-account .btn{
        width: 100%;
    }
    .dealer-page img.icon {
        width: 68px;
    }
    /* dealer-app */
    .dealer-app .flex-container{
        flex-direction: column;
    }
    .dealer-app .app-box{
        width: 100%;
        padding: 0;
    }
    .dealer-app .btn-icon {
        width: 50px;
        opacity: 0.5;
    }
    .dealer-app h1{
        font-size: 1.8rem !important;
        margin-bottom: 1rem;
    }
    .dealer-app .thank-you-page{
        padding: 1rem;
    }
    .dealer-app .thank-you-page p{
        font-size: 0.8rem;
    }
    .dealer-app .pricing-summary{
        margin: 1rem;
    }
    .page-link{
        padding: 0.5rem 0.25rem;
    }
    .account-page .box-shadow{
        padding: 0.5rem 1rem;
    }
    .account-page h1{
        font-size: 1rem !important;
    }
    .account-page h1.large{
        font-size: 1.8rem !important;
    }
    .account-page h2{
        font-size: 0.9rem !important;
        margin-top: 1rem;
    }
    .account-page .keyword-input{
        width: 218px;
    }
    .account-page .date-input-group{
        float: left;
    }
    .account-page .date-input{
        width: 100%;
    }
    .flex-sub-main h2 img{
        width: 20px;
    }
    .dashboard .box{
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        padding: 0;
    }
    .dashboard-box {
        padding: 0.25rem;
    }
    .dashboard .payment-box{
        width: 100%;
    }
    .dashboard-box .vin-check-box h6,
    .dashboard-box .vin-check-box span,
    .dashboard-box .vin-check-box .btn{
        font-size: 0.9rem;
    }
    .dashboard-box .vin-check-box h2{
        font-size: 1rem;
    }
    .dashboard-box .vin-check{
        margin: 1rem 0;
    }
    .account-page .page-box {
        width: 90%;
    }
    .account-page .page-box label{
        margin-top: 0.25rem;
    }
    .things-you-can-do a,
    .things-you-can-do i{
        font-size: 1rem;
    }
    /************* report *************/
    .report-page .sidebar {
        display: none;
    }
    .report-page .report-box {
        padding: 0.25rem;
        margin: 0.25rem;
    }
    .report-page .report-header,
    .report-page .report-header p,
    .report-page .report-header div{
        text-align: center !important;
    }
    .report-page .list{
        text-align: center;
    }
    .report-page .col{
        padding: 0.1rem;
    }
    .report-page .content-box{
        padding: 0.25rem;
    }
    .report-page h2{
        font-size: 0.9rem !important;
    }
    .report-page h3,
    .report-page h4,
    .report-page p {
        font-size: 0.8rem !important;
    }
    .contact-us .main{
        margin: 0.5rem;
        padding: 0.25rem;
    }
    .contact-us .list{
        padding: 0;
    }
    .contact-us .list p, .contact-us .list a{
        font-size: 0.9rem;
    }

    .about-us h1{
        font-size: 1rem;
        font-weight: bold;
    }
    .about-us p{
        font-size: 0.9rem;
    }
    .about-us h2{
        font-size: 0.9rem;
        font-weight: bold;
    }
    .faq-bg .container {
        padding: 2rem 0;
    }
    .faq h1{
        font-size: 1.1rem;
        font-weight: bold;
    }
    .faq p{
        font-size: 0.9rem;
    }
    .faq h2{
        font-size: 1rem;
        font-weight: bold;
    }
    .faq h3,
    .faq .accordion .item h3{
        font-size: 0.9rem;
        font-weight: bold;
        max-width: 90%;
    }
    .faq .accordion .item i {
        position: absolute;
        right: 0;
    }
    .static-page{
        width: 100%;
        padding: 0.25rem;
    }
    .static-page p {
        font-size: 0.9rem;
        line-height: 1.5;
        padding-bottom: 1rem;
    }
    .AuthorizeNetSeal{
        width: auto !important;
    }
    .admin .search-input{
        min-width: 208px;
    }
    .only-mobile{
        display: block;
    }

    .modal-body{
        max-height: 518px;
    }
}

/* @media only screen and (max-height: 450px) { */
@media only screen
    and (min-device-width : 0px)
    and (max-device-width : 767px)
    and (orientation: landscape) {
    .menu {
        width: 50%;
        overflow-y: auto;
    }
    .menu li {
        padding: 8px 15px;
    }
    .homepageBgImg {
        padding: 0;
        height: auto;
        /* border: 1px solid red; */
    }
    .homepageBgImg figure {
        background-size: 100%;
    }
    .navbar-brand {
        min-width: 40%;
        max-width: 48%;
    }
    .vin-check-wrap .heading {
        top: -218px;
        font-size: 1.1rem;

    }
    .vin-check-wrap .heading .title {
        font-size: 1.2rem;
    }
    .vin-check-wrap .heading .text {
        font-size: 1rem;
        line-height: 1.2;
        margin-top: 0.5rem;
    }
    .admin .search-input{
        min-width: 258px;
    }
    #circularbar {
        width: 28%;
    }

}

/* iphone 5 */
@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 320px){
    .vin-check-wrap .heading {
        top: -158px !important;
    }
    #circularbar{
        width: 38%;
    }
    .scan-items {
        margin-top: 0;
    }
    .searching-for {
        margin: 0.2rem 0;
    }
    .modal-body{
        max-height: 389px;
    }
}
/* iphone 5 - landscape*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 460px){
    .vin-check-wrap .heading {
        top: -188px !important;
    }

}


/* iPhone 6 > */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 767px)
  and (orientation: portrait) {
    #circularbar {
      width: 58% !important;
    }
    .searching-for {
        margin: 1rem 0;
    }
}
